# Binaries
[Bb]in/
[Oo]bj/

# Visual Studio files
*.user
*.suo
*.cache
*.sln.docstates

# ReSharper files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
Any CPU/

.vs/

